# Diabetes Health Analysis

In [11]:

print(df.shape)
df.head(10)

(1879, 46)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,NaN,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,0
1,6001,51,NaN,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,0
2,6002,89,NaN,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,0
3,6003,21,NaN,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,0
4,6004,27,NaN,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,0
5,6005,65,NaN,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,0
6,6006,61,NaN,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,0
7,6007,74,NaN,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,0
8,6008,54,NaN,0,1,2,15.027557,0,18.000000,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,0
9,6009,82,NaN,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,0

In [12]:

from sklearn.preprocessing import LabelEncoder


df['Gender'] = df['Gender'].fillna('Unknown') 


categorical_cols = ['Gender', 'Ethnicity', 'SocioeconomicStatus', 'EducationLevel', 
                    'Smoking', 'Family_History', 'Hypertension', 'DoctorInCharge']

for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].astype(str) 
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])


yes_no_cols = ['Polyuria', 'Polydipsia', 'Sudden_Weight_Loss', 'Weakness', 'Polyphagia',
               'Genital_Thrush', 'Visual_Blurring', 'Itching', 'Irritability',
               'Delayed_Healing', 'Partial_Paresis', 'Muscle_Stiffness', 'Alopecia', 'Obesity']

for col in yes_no_cols:
    if col in df.columns:
        df[col] = df[col].map({'Yes': 1, 'No': 0, 'Positive': 1, 'Negative': 0})
        df[col] = df[col].fillna(0)  


print(df.isnull().sum().sum())

print(df.dtypes.value_counts())

df.head(10)

0
int64      28
float64    18
Name: count, dtype: int64

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,0
1,6001,51,0,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,0
2,6002,89,0,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,0
3,6003,21,0,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,0
4,6004,27,0,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,0
5,6005,65,0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,0
6,6006,61,0,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,0
7,6007,74,0,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,0
8,6008,54,0,0,1,2,15.027557,0,18.000000,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,0
9,6009,82,0,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,0

In [13]:

df = pd.read_csv("../data/raw/diabetes_raw_data.csv")


df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0, 'Other': 0}) 

df['Gender'] = df['Gender'].fillna(0)


print("Gender after fix:")
print(df['Gender'].value_counts())
df.head(10)

Gender after fix:
Gender
0.0    1879
Name: count, dtype: int64

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0.0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,0.0,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,0.0,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,0.0,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,0.0,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential
5,6005,65,0.0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,Confidential
6,6006,61,0.0,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,Confidential
7,6007,74,0.0,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,Confidential
8,6008,54,0.0,0,1,2,15.027557,0,19.505734,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,Confidential
9,6009,82,0.0,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,Confidential

In [14]:

print(pd.read_csv("../data/raw/diabetes_raw_data.csv")['Gender'].value_counts(dropna=False))

Gender
0    963
1    916
Name: count, dtype: int64

In [15]:
df.head(10)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0.0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,0.0,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,0.0,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,0.0,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,0.0,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential
5,6005,65,0.0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,Confidential
6,6006,61,0.0,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,Confidential
7,6007,74,0.0,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,Confidential
8,6008,54,0.0,0,1,2,15.027557,0,19.505734,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,Confidential
9,6009,82,0.0,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,Confidential

In [16]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os


X = df.drop('Diagnosis', axis=1)
y = df['Diagnosis']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)


smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_res)
X_test_scaled = scaler.transform(X_test)


os.makedirs("../data_prepared", exist_ok=True)
np.save("../data_prepared/X_train.npy", X_train_scaled)
np.save("../data_prepared/X_test.npy", X_test_scaled)
np.save("../data_prepared/y_train.npy", y_train_res)
np.save("../data_prepared/y_test.npy", y_test.values)

print("done")

ValueError: could not convert string to float: 'Confidential'

In [17]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')


for col in df.columns:
    if df[col].dtype == 'object':
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))


print(df.dtypes.value_counts())

int64      27
float64    19
Name: count, dtype: int64

In [18]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os


X = df.drop('Diagnosis', axis=1)
y = df['Diagnosis']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)


smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_res)
X_test_scaled = scaler.transform(X_test)


os.makedirs("../data_prepared", exist_ok=True)
np.save("../data_prepared/X_train.npy", X_train_scaled)
np.save("../data_prepared/X_test.npy", X_test_scaled)
np.save("../data_prepared/y_train.npy", y_train_res)
np.save("../data_prepared/y_test.npy", y_test.values)

print("done")

done

In [21]:

df = pd.read_csv("../data/raw/diabetes_raw_data.csv")


df['Gender'] = df['Gender'].astype(str).str.strip()  
df['Gender'] = df['Gender'].replace({'M': 'Male', 'F': 'Female', 'male': 'Male', 'female': 'Female', 'Nan': 'Female', 'nan': 'Female'})
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0, 'Other': 0, '1': 1, '0': 0}).fillna(0).astype(int)

print(df['Gender'].value_counts())

print(df['Gender'].value_counts(normalize=True) * 100)

Gender
0    963
1    916
Name: count, dtype: int64
Gender
0    51.250665
1    48.749335
Name: proportion, dtype: float64

In [22]:
df.head(10)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,1,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,1,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,1,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,1,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential
5,6005,65,0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,Confidential
6,6006,61,1,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,Confidential
7,6007,74,1,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,Confidential
8,6008,54,0,0,1,2,15.027557,0,19.505734,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,Confidential
9,6009,82,1,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,Confidential

In [34]:
df.head(10)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,0,44,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,89,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,65,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,61,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,0,82,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
import pandas as pd


df = pd.read_csv("../data/raw/diabetes_raw_data.csv")


df.head(10)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,1,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,1,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,1,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,1,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential
5,6005,65,0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,Confidential
6,6006,61,1,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,Confidential
7,6007,74,1,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,Confidential
8,6008,54,0,0,1,2,15.027557,0,19.505734,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,Confidential
9,6009,82,1,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,Confidential

In [36]:
df.isna().sum()

PatientID                        0
Age                              0
Gender                           0
Ethnicity                        0
SocioeconomicStatus              0
EducationLevel                   0
BMI                              0
Smoking                          0
AlcoholConsumption               0
PhysicalActivity                 0
DietQuality                      0
SleepQuality                     0
FamilyHistoryDiabetes            0
GestationalDiabetes              0
PolycysticOvarySyndrome          0
PreviousPreDiabetes              0
Hypertension                     0
SystolicBP                       0
DiastolicBP                      0
FastingBloodSugar                0
HbA1c                            0
SerumCreatinine                  0
BUNLevels                        0
CholesterolTotal                 0
CholesterolLDL                   0
CholesterolHDL                   0
CholesterolTriglycerides         0
AntihypertensiveMedications      0
Statins                          0
AntidiabeticMedications          0
FrequentUrination                0
ExcessiveThirst                  0
UnexplainedWeightLoss            0
FatigueLevels                    0
BlurredVision                    0
SlowHealingSores                 0
TinglingHandsFeet                0
QualityOfLifeScore               0
HeavyMetalsExposure              0
OccupationalExposureChemicals    0
WaterQuality                     0
MedicalCheckupsFrequency         0
MedicationAdherence              0
HealthLiteracy                   0
Diagnosis                        0
DoctorInCharge                   0
dtype: int64

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
df.describe()

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
count,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,...,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000
mean,6939.000000,55.043108,0.487493,0.755721,0.992017,1.699308,27.687601,0.281533,10.096587,5.200790,...,0.102714,0.111229,48.508643,0.052155,0.103246,0.200639,1.997101,4.957539,5.011736,0.400213
std,542.564896,20.515839,0.499977,1.047558,0.764940,0.885665,7.190975,0.449866,5.914216,2.857012,...,0.303666,0.314500,28.758488,0.222400,0.304361,0.400585,1.122632,2.910934,2.920908,0.490072
min,6000.000000,20.000000,0.000000,0.000000,0.000000,0.000000,15.025898,0.000000,0.000928,0.004089,...,0.000000,0.000000,0.002390,0.000000,0.000000,0.000000,0.004013,0.005384,0.000362,0.000000
25%,6469.500000,38.000000,0.000000,0.000000,0.000000,1.000000,21.469981,0.000000,4.789725,2.751022,...,0.000000,0.000000,23.974098,0.000000,0.000000,0.000000,1.057801,2.420024,2.410113,0.000000
50%,6939.000000,55.000000,0.000000,0.000000,1.000000,2.000000,27.722988,0.000000,10.173865,5.249002,...,0.000000,0.000000,47.519693,0.000000,0.000000,0.000000,1.987170,4.843886,5.035208,0.000000
75%,7408.500000,73.000000,1.000000,1.000000,2.000000,2.000000,33.856460,1.000000,15.285359,7.671402,...,0.000000,0.000000,72.883179,0.000000,0.000000,0.000000,2.946019,7.513933,7.586865,1.000000
max,7878.000000,90.000000,1.000000,3.000000,2.000000,3.000000,39.998811,1.000000,19.996231,9.993893,...,1.000000,1.000000,99.788530,1.000000,1.000000,1.000000,3.999715,9.997165,9.993029,1.000000

In [39]:
df.dtypes.value_counts()

int64      27
float64    18
object      1
Name: count, dtype: int64

In [40]:
print("Unique values in target:", df['Diagnosis'].unique())
print("Target distribution:")
print(df['Diagnosis'].value_counts())

Unique values in target: [1 0]
Target distribution:
Diagnosis
0    1127
1     752
Name: count, dtype: int64

In [41]:

cols_to_check = ['Age', 'BMI', 'AlcoholConsumption', 'PhysicalActivity', 'QualityOfLifeScore']
print(df[cols_to_check].agg(['min', 'max']))

     Age        BMI  AlcoholConsumption  PhysicalActivity  QualityOfLifeScore
min   20  15.025898            0.000928          0.004089             0.00239
max   90  39.998811           19.996231          9.993893            99.78853

In [42]:

print("Columns with object dtype:")
print(df.select_dtypes(include='object').columns.tolist())


if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})


yes_no_cols = ['Polyuria', 'Polydipsia', 'Sudden_Weight_Loss', 'Weakness', 'Polyphagia', 
               'Genital_Thrush', 'Visual_Blurring', 'Itching', 'Irritability', 
               'Delayed_Healing', 'Partial_Paresis', 'Muscle_Stiffness', 'Alopecia', 
               'Obesity', 'Family_History', 'Hypertension']

for col in yes_no_cols:
    if col in df.columns:
        df[col] = df[col].map({'Yes': 1, 'No': 0})


df['AlcoholConsumption'] = df['AlcoholConsumption'].clip(upper=18)
df['PhysicalActivity'] = df['PhysicalActivity'].clip(upper=16)

print("Final dtypes after fixing:")
print(df.dtypes.value_counts())
print("Alcohol max after fix:", df['AlcoholConsumption'].max())

Columns with object dtype:
['DoctorInCharge']
Final dtypes after fixing:
int64      25
float64    20
object      1
Name: count, dtype: int64
Alcohol max after fix: 18.0

In [43]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['DoctorInCharge'] = le.fit_transform(df['DoctorInCharge'].astype(str))


print("Columns with object dtype after final fix:")
print(df.select_dtypes(include='object').columns.tolist())

print("\nFinal dtypes:")
print(df.dtypes.value_counts())

print("\nData is CLEAN ")

Columns with object dtype after final fix:
[]

Final dtypes:
int64      26
float64    20
Name: count, dtype: int64

Data is CLEAN

In [44]:
print(df.shape)
df.head(10)

(1879, 46)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,NaN,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,0
1,6001,51,NaN,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,0
2,6002,89,NaN,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,0
3,6003,21,NaN,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,0
4,6004,27,NaN,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,0
5,6005,65,NaN,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,0
6,6006,61,NaN,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,0
7,6007,74,NaN,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,0
8,6008,54,NaN,0,1,2,15.027557,0,18.000000,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,0
9,6009,82,NaN,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,0

In [45]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')


for col in df.columns:
    if df[col].dtype == 'object':
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))


print(df.dtypes.value_counts())

int64      26
float64    20
Name: count, dtype: int64

In [46]:

df = pd.read_csv("../data/raw/diabetes_raw_data.csv")


df['Gender'] = df['Gender'].astype(str).str.strip()  
df['Gender'] = df['Gender'].replace({'M': 'Male', 'F': 'Female', 'male': 'Male', 'female': 'Female', 'Nan': 'Female', 'nan': 'Female'})
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0, 'Other': 0, '1': 1, '0': 0}).fillna(0).astype(int)

print(df['Gender'].value_counts())

print(df['Gender'].value_counts(normalize=True) * 100)

Gender
0    963
1    916
Name: count, dtype: int64
Gender
0    51.250665
1    48.749335
Name: proportion, dtype: float64

In [47]:
df.head(10)

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,1,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,1,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,1,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,1,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential
5,6005,65,0,0,0,0,15.820815,1,17.781024,9.252522,...,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0,Confidential
6,6006,61,1,2,1,3,20.075147,0,1.086479,8.745650,...,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0,Confidential
7,6007,74,1,3,0,3,29.438938,0,6.187378,9.114535,...,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0,Confidential
8,6008,54,0,0,1,2,15.027557,0,19.505734,0.590771,...,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1,Confidential
9,6009,82,1,0,1,1,34.300044,1,15.943844,6.056621,...,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0,Confidential

In [55]:
df.head(10)

,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,44,0,1,2,1,32.985284,1,4.499365,2.443385,4.898831,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,51,1,0,1,2,39.916764,0,1.578919,8.301264,8.941093,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,89,1,0,1,3,19.782251,0,1.177301,6.103395,7.722543,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,21,1,1,1,2,32.376881,1,1.714621,8.645465,4.804044,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,27,1,0,1,3,16.808600,0,15.462549,4.629383,2.532756,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0
5,65,0,0,0,0,15.820815,1,17.781024,9.252522,2.309158,...,0,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0
6,61,1,2,1,3,20.075147,0,1.086479,8.745650,4.705480,...,0,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0
7,74,1,3,0,3,29.438938,0,6.187378,9.114535,0.180463,...,0,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0
8,54,0,0,1,2,15.027557,0,19.505734,0.590771,7.958310,...,0,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1
9,82,1,0,1,1,34.300044,1,15.943844,6.056621,1.339302,...,0,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0

In [56]:
df.describe()

,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
count,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,...,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000
mean,55.043108,0.487493,0.755721,0.992017,1.699308,27.687601,0.281533,10.096587,5.200790,4.895801,...,0.102714,0.111229,49.104592,0.052155,0.103246,0.200639,1.997101,4.957539,5.011736,0.400213
std,20.515839,0.499977,1.047558,0.764940,0.885665,7.190975,0.449866,5.914216,2.857012,2.867144,...,0.303666,0.314500,27.868786,0.222400,0.304361,0.400585,1.122632,2.910934,2.920908,0.490072
min,20.000000,0.000000,0.000000,0.000000,0.000000,15.025898,0.000000,0.000928,0.004089,0.000885,...,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.004013,0.005384,0.000362,0.000000
25%,38.000000,0.000000,0.000000,0.000000,1.000000,21.469981,0.000000,4.789725,2.751022,2.476802,...,0.000000,0.000000,23.974098,0.000000,0.000000,0.000000,1.057801,2.420024,2.410113,0.000000
50%,55.000000,0.000000,0.000000,1.000000,2.000000,27.722988,0.000000,10.173865,5.249002,4.888566,...,0.000000,0.000000,47.519693,0.000000,0.000000,0.000000,1.987170,4.843886,5.035208,0.000000
75%,73.000000,1.000000,1.000000,2.000000,2.000000,33.856460,1.000000,15.285359,7.671402,7.356058,...,0.000000,0.000000,72.883179,0.000000,0.000000,0.000000,2.946019,7.513933,7.586865,1.000000
max,90.000000,1.000000,3.000000,2.000000,3.000000,39.998811,1.000000,19.996231,9.993893,9.998677,...,1.000000,1.000000,99.788530,1.000000,1.000000,1.000000,3.999715,9.997165,9.993029,1.000000

In [59]:
import pandas as pd



df.drop(columns=['PatientID', 'DoctorInCharge'], inplace=True, errors='ignore')

df['Age'] = df['Age'].clip(18, 90)
df['BMI'] = df['BMI'].clip(15, 55)
df['AlcoholConsumption'] = df['AlcoholConsumption'].clip(0, 20)
df['PhysicalActivity'] = df['PhysicalActivity'].clip(0, 10)
df['QualityOfLifeScore'] = df['QualityOfLifeScore'].clip(10, 100)
df['MedicalCheckupsFrequency'] = df['MedicalCheckupsFrequency'].clip(0, 4)
df['MedicationAdherence'] = df['MedicationAdherence'].clip(0, 10)
df['HealthLiteracy'] = df['HealthLiteracy'].clip(0, 10)

binary_columns = ['Gender', 'Polyuria', 'Polydipsia', 'SuddenWeightLoss', 'Weakness',
                  'Polyphagia', 'GenitalThrush', 'VisualBlurring', 'Itching', 'Irritability',
                  'DelayedHealing', 'PartialPareshia', 'MuscleStiffness', 'Alopecia',
                  'Obesity', 'TinglingHandsFeet', 'Smoking', 'HeavyMetalsExposure',
                  'OccupationalExposureChemicals', 'WaterQuality']

for col in binary_columns:
    if col in df.columns:
        df[col] = df[col].astype(int)

df.head()

,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,44,0,1,2,1,32.985284,1,4.499365,2.443385,4.898831,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,51,1,0,1,2,39.916764,0,1.578919,8.301264,8.941093,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,89,1,0,1,3,19.782251,0,1.177301,6.103395,7.722543,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,21,1,1,1,2,32.376881,1,1.714621,8.645465,4.804044,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,27,1,0,1,3,16.808600,0,15.462549,4.629383,2.532756,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0

In [66]:

df['PatientID'] = range(1, len(df) + 1)                   
df['DoctorInCharge'] = 'Dr. CleanData'                    


cols = ['PatientID', 'DoctorInCharge'] + [c for c in df.columns if c not in ['PatientID', 'DoctorInCharge']]
df = df[cols]

df.to_csv('diabetes_cleaned_with_ID.csv', index=False)

In [67]:
df.head(10)

,PatientID,DoctorInCharge,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,1,Dr. CleanData,44,0,1,2,1,32.985284,1,4.499365,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,2,Dr. CleanData,51,1,0,1,2,39.916764,0,1.578919,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,3,Dr. CleanData,89,1,0,1,3,19.782251,0,1.177301,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,4,Dr. CleanData,21,1,1,1,2,32.376881,1,1.714621,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,5,Dr. CleanData,27,1,0,1,3,16.808600,0,15.462549,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0
5,6,Dr. CleanData,65,0,0,0,0,15.820815,1,17.781024,...,0,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0
6,7,Dr. CleanData,61,1,2,1,3,20.075147,0,1.086479,...,0,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0
7,8,Dr. CleanData,74,1,3,0,3,29.438938,0,6.187378,...,0,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0
8,9,Dr. CleanData,54,0,0,1,2,15.027557,0,19.505734,...,0,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1
9,10,Dr. CleanData,82,1,0,1,1,34.300044,1,15.943844,...,0,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0

In [73]:
import pandas as pd

original = pd.read_csv(r'C:\Users\dell\OneDrive\Desktop\ga-feature-select\data\raw\diabetes_raw_data.csv')


df['PatientID'] = original['PatientID']
df['DoctorInCharge'] = original['DoctorInCharge']


df = df[['PatientID', 'DoctorInCharge'] + [col for col in df.columns if col not in ['PatientID', 'DoctorInCharge']]]


df.to_csv('diabetes_cleaned_with_original_IDs.csv', index=False)

df.head()

,PatientID,DoctorInCharge,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,6000,Confidential,44,0,1,2,1,32.985284,1,4.499365,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,6001,Confidential,51,1,0,1,2,39.916764,0,1.578919,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,6002,Confidential,89,1,0,1,3,19.782251,0,1.177301,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,6003,Confidential,21,1,1,1,2,32.376881,1,1.714621,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,6004,Confidential,27,1,0,1,3,16.808600,0,15.462549,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0

In [74]:
df.head(10)

,PatientID,DoctorInCharge,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,6000,Confidential,44,0,1,2,1,32.985284,1,4.499365,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,6001,Confidential,51,1,0,1,2,39.916764,0,1.578919,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,6002,Confidential,89,1,0,1,3,19.782251,0,1.177301,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,6003,Confidential,21,1,1,1,2,32.376881,1,1.714621,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,6004,Confidential,27,1,0,1,3,16.808600,0,15.462549,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0
5,6005,Confidential,65,0,0,0,0,15.820815,1,17.781024,...,0,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0
6,6006,Confidential,61,1,2,1,3,20.075147,0,1.086479,...,0,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0
7,6007,Confidential,74,1,3,0,3,29.438938,0,6.187378,...,0,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0
8,6008,Confidential,54,0,0,1,2,15.027557,0,19.505734,...,0,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1
9,6009,Confidential,82,1,0,1,1,34.300044,1,15.943844,...,0,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0

In [76]:

df['DoctorInCharge'] = 1


df['DoctorInCharge'] = df['DoctorInCharge'].astype(int)

In [77]:
df.head(10)

,PatientID,DoctorInCharge,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,...,SlowHealingSores,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis
0,6000,1,44,0,1,2,1,32.985284,1,4.499365,...,0,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1
1,6001,1,51,1,0,1,2,39.916764,0,1.578919,...,0,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1
2,6002,1,89,1,0,1,3,19.782251,0,1.177301,...,0,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0
3,6003,1,21,1,1,1,2,32.376881,1,1.714621,...,0,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0
4,6004,1,27,1,0,1,3,16.808600,0,15.462549,...,0,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0
5,6005,1,65,0,0,0,0,15.820815,1,17.781024,...,0,0,86.378969,0,0,0,1.535161,9.682226,2.744281,0
6,6006,1,61,1,2,1,3,20.075147,0,1.086479,...,0,0,86.036931,0,0,0,0.578208,1.175504,1.229453,0
7,6007,1,74,1,3,0,3,29.438938,0,6.187378,...,0,0,47.315820,0,0,0,1.659424,2.258377,9.035877,0
8,6008,1,54,0,0,1,2,15.027557,0,19.505734,...,0,0,88.638130,0,0,0,3.675916,2.006186,3.452805,1
9,6009,1,82,1,0,1,1,34.300044,1,15.943844,...,0,0,96.636541,0,0,0,2.567315,4.031643,2.633287,0